<h1>Resumen de su compra</h1>
<br>
<br>
<br>
<br>
<div class="table-responsive">
  <div class="table table-striped">
    <table class="table">
      <thead>
      <tr>
        <th>Masa</th>
        <th>Tamanio</th>
        <th>Ingrediente 1</th>
        <th>Ingrediente 2</th>
        <th>Ingrediente Especial</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= pizza.tipo%></td>
        <td><%= pizza.tamanio%></td>
        <td><%= pizza.ingrediente1%></td>
        <td><%= pizza.ingrediente2%></td>
        <td><%= pizza.ingredienteEspecial%></td>
        <td><%= pizza.precio%></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
